* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
  body {
    background: black;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background: black;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    height: 100px;
    position: fixed;
    width: 100%;
    z-index: 100;
  }
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
  }
  .nav-links li {
    list-style: none;
  }
  .nav-links a {
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
    color: ivory;
    font-family: "Roboto", sans-serif;
  }
  .logo {
    text-transform: uppercase;
    color: red;
    font-family: "Reem Kufi", sans-serif;
  }
  h4 {
    font-size: 3.5rem;
  }
  .burger {
    display: none;
    cursor: pointer;
  }

  .burger div {
    width: 25px;
    height: 3px;
    background-color: ivory;
    margin: 5px;
    transition: all 0.3s ease;
  }

  p {
    font-size: 1.25rem;
    opacity: 0.5;
    margin-top: 25px;
    color: #ccc5b9;
  }
  .head {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .content h1 {
    font-family: "Reem Kufi", sans-serif;
    text-align: center;
    padding-bottom: 25px;
    text-transform: uppercase;
    color: #bfc0c0;
    font-weight: lighter;
  }
  h1 span.red {
    color: red;
  }
  span.red {
    color: red;
  }
  span.green {
    color: green;
  }
  h1 span.green {
    color: green;
  }
  section {
    position: relative;
    min-height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section .content {
    max-width: 80%;
  }

  section .content h2 {
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 2.5rem;
    transition: 0.5s;
    transform-origin: left;
    transform: scaleX(0);
    color: #e5e6e4;
    font-weight: 300;
  }

  section .content h2[data-scroll="in"] {
    transform: scaleX(1);
  }

  section .content h2:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: red;
    transform-origin: right;
    transition: 0.5s;
  }

  section .content h2[data-scroll="in"]:before {
    transform: scaleX(0);
    transition-delay: 0.5s;
  }

  section .content h2[data-scroll="out"] {
    opacity: 0;
  }

  section .content p {
    display: flex;
    transition: 1s;
    opacity: 0;
  }

  section .content p[data-scroll="in"] {
    opacity: 1;
    transition-delay: 1s;
  }

  footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: ivory;
  }

  .footer > *{
    flex: 1 100%;
  }

  .footer-left {
    margin-right: 1.25em;
    margin-bottom: 2em;
  }

  .footer ul{
    list-style: none;
    padding-left: 0;    
  }

  .footer li{
    line-height: 2em;
  }

  .footer-bottom {
    text-align: center;
    padding-top: 50px;
  }

  .footer-left p{
    padding-right: 20%;
  }

  .box {
    padding-left: 65px;
  }

  /* section div img.img-responsive {
    min-width:  -webkit-fill-available;
    min-height:  -webkit-fill-available;
    overflow: hidden;
  } */

/* for iphone X views only and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3)  */
@media only screen and (min-device-width: 375px) and (orientation: portrait) {
  body {
    overflow-x: hidden;
  }
  .burger {
    display: block;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    background: black;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    font-family: "Francois One", sans-serif;
  }
  section {
    position: relative;
    min-height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  section .content h1 {
    font-size: 2.5rem;
  }
  section .content h2 {
    font-size: 2rem;
  }
  section div img.img-responsive {
    max-width: 100%;
    height: auto;
  }
}
.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
